.card {
    display: flex;
    justify-content: center;
    font-size: small;
    height: auto;
    width: 100%;
    border: 1px solid black;
    margin-bottom: 5px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background-color: #2754C9; */
    border-radius: 7px;

}

.card:hover {
    background-color: #fff;
    border-radius: 0px;
    box-shadow: 1px 1px 5px whitesmoke;
}

/* Estilos para diferentes estados */
.aprobado {
    background-color: rgb(11, 251, 11);
}

.desaprobado {
    background-color: rgba(253, 3, 3, 0.84);
}

.send {
    /* background-color: rgb(113, 248, 225); */
    /* background-color: #2755c9ad; */
    background-color: rgba(148, 144, 144, 0.6);

}

.pause {
    background-color: rgb(190, 165, 165);
}