.history {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 490px;
    /* background-color: rebeccapurple; */
}

.historyContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: aqua; */
    margin-top: 10px;
    width: 95%;
    height: 470px;
    box-shadow: 0px 0px 10px rgba(235, 233, 233, 0.921);
}

/* ojo cambiar la altura a "auto" mas adelante */
.historyOrderBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: red; */
    height: 470px;
    width: 100%;
}

.historyOrderBodyLeft {
    height: 465px;
    width: 30%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

}

.listOrderHeader {
    width: 100%;
    height: auto;
    text-align: center;
}

.listContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

}

.historyOrderBodyRight {
    height: 465px;
    width: 70%;
    /* background-color: rgba(40, 71, 71, 0.347); */
}