.user1 {
    width: 100%;
    height: 705px;
    background-color: #f5ebe0;

}

.body {
    width: 100%;
    height: 454px;
    display: flex;
    flex-direction: row;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: space-around;


}

.bodyLeft {
    width: 15%;
    height: 454px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.entradablog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    cursor: pointer;
    background-color: #f7e6d4;
    border-radius: .5rem;
}

.entradablog:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.368);
    border-radius: 0rem;

}




.bodyRight {
    width: 80%;
    height: 454px;
    background-color: rgba(0, 0, 0, 0.067);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;


}

@media (max-width: 400px) {
    .body {
        flex-direction: column;
        text-align: center;
        background-color: red;


    }
}