/* colroes principales rgb(23, 99, 203) */
/* colores secundarios rgb(229, 242, 242) */

@media (min-width: 400px) {
    .navContainer {
        max-width: 120rem;
        height: 4.5rem;
        background-color: rgb(23, 99, 203);
        display: flex;
        margin-bottom: 5px;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
    }
}

.logo {
    max-width: 13rem;
}

.logo:hover {
    text-shadow: 1px 1px 2px pink;
}

.perfil {
    display: block !important;
    color: whitesmoke;
    font-size: x-small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-decoration: none;
}

.perfil:hover {
    text-shadow: 1px 1px 2px pink;
}


/* css de Nav1 */

.nav1Container {
    max-width: 120rem;
    background-color: rgb(23, 99, 205);
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 480px) {
    .nav1Container {
        flex-direction: row;
        justify-content: space-around;
    }

    .select {
        flex-direction: row;
        justify-content: space-around;
    }
}

.nav1Container a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    gap: 2rem;
}

.nav1Container a:hover {
    text-shadow: 1px 1px 2px pink;
}

.crearuser {
    background-color: rgb(23, 99, 205);
    ;
    color: whitesmoke;
    font-size: 16px;
    border: none;
    padding: 8px;
}

.crearuser:hover {
    text-shadow: 1px 1px 2px pink;
}

.linkProfile {
    color: aliceblue;
    border: 1px solid whitesmoke;
    width: auto;
    height: auto;
    padding: 5px;
    cursor: pointer;
}

.linkProfile:hover {
    /* border-radius: 5px; */
    box-shadow: 0px 0px 8px wheat;
}


/* Estilos para el contenedor de la imagen de perfil */
.userImageContainer {
    width: 50px;
    /* Tamaño del contenedor circular */
    height: 50px;
    /* Tamaño del contenedor circular */
    border-radius: 50%;
    /* Hacer un círculo */
    overflow: hidden;
    /* Ocultar cualquier contenido que se desborde */
}

.userImage {
    width: 100%;
    /* Ocupar todo el ancho del contenedor */
    height: 100%;
    /* Ocupar toda la altura del contenedor */
    object-fit: cover;
    /* Ajustar la imagen para cubrir el contenedor */
}

.userInitials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    /* Color de fondo para las iniciales si no hay imagen */
    border-radius: 50%;
    /* Hacer un círculo */
    font-size: 20px;
    /* Tamaño de las iniciales */
    color: #fff;
    /* Color de las iniciales */
    text-transform: uppercase;
    /* Mostrar las iniciales en mayúsculas */
}

/* Estilos para el contenedor de la imagen de perfil */
.userText {
    margin-left: 10px;
    /* Ajustar el espacio entre la imagen y el texto */
    display: flex;
    align-items: center;
    font-size: smaller;
    /* Ajustar el tamaño del texto */
}

.userText small {
    font-size: x-small;
    /* Ajustar el tamaño de la etiqueta <small> */
}

.greenDot {
    width: 8px;
    height: 8px;
    background-color: rgb(100, 229, 100);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

.favColor {
    color: red;
}

.inicio {
    color: #fff;
    font-size: larger;
    cursor: pointer;
}

.nav2Container {
    width: 100%;
    height: 4.5rem;
    background-color: rgb(106, 146, 202);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;
}

@media (max-width: 400px) {
    .nav2Container {
        flex-direction: column;
        height: auto;
    }
}