.prodCard {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 240px;
  
    background-color: #3498db; /* Blue background for the entire card */
    margin: 15px 40px 40px 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(250, 249, 249, 0.578); /* Lighter box shadow */
    cursor: pointer;
    transition: border-radius 0.3s, box-shadow 0.3s;
}

.prodCard:hover {
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Slightly darker shadow on hover */
}

.image {
    width: 100%;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: beige; /* Beige background for the image */
}

.bodyCard {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    color: #fff; /* White text color */
}

.code, .price {
    margin-top: 5px;
    margin-left: 10px;
    background-color: #3498db; /* Blue color */
}

.price {
    margin-top: -12px;
    font-weight: bold; /* Bold text for price */
}


