.profile1 {
    width: 100%;
    height: 705px;
    background-color: #f5ebe0;
    /* background-color: red; */
}

.header1 {
    display: flex;
    flex-direction: column;
}

.subNav {
    width: 100%;
    height: 4.5rem;
    background-color: rgb(23, 99, 203);
    display: flex;
    margin-bottom: 5px;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.body1 {
    width: 100%;
    height: 465px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('../../assets/auction01.jpg');
    background-size: cover;
}

.infoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #e60000; */
    height: 465px;
    width: 95%;
}












.body {
    /* background-color: rgba(57, 53, 53, 0.449); */
    width: 100%;
    height: 620px;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-around;
    background-image: url('../../assets/imageLogo/FONDOASSIST.jpg');
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Estilo para la parte izquierda del cuerpo (imagen y datos del usuario) */
.bodyLeft {
    width: 20%;
    height: 610px;
    /* background-color: rgba(245, 245, 245, 0); */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 5px black;
    padding: 20px;
    /* Agrega un poco de espacio alrededor de los elementos internos */
}



.bodyLeftHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    width: 300px;
    height: 200px;

}

.bodyLeftHeader img {
    width: 150px;
    /* Tamaño de la imagen de perfil */
    height: 150px;
    border-radius: 50%;
    /* Hace que la imagen sea redonda */
    object-fit: cover;
    box-shadow: 1px 1px 10px snow;
    /* Escala la imagen para cubrir el contenedor manteniendo su relación de aspecto */
}

.bodyLeftBody {
    width: 100%;
    height: 420px;
    /* background-color: #e60000; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.divInfo {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    /* height: auto; */
    /* width: 16rem; */
    height: 2.5rem;
    box-shadow: 1px 1px 1px white;
}



/* Estilo para el botón de cierre de sesión */
.logOut button {
    background-color: #ff4d4d;
    /* Color de fondo rojo */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.logOut button:hover {
    background-color: #e60000;
    /* Cambia el color de fondo al pasar el ratón */
}

/* Media queries para hacer el diseño responsive */
@media (max-width: 768px) {
    .bodyLeft {
        width: 100%;
        /* Ocupa todo el ancho en dispositivos pequeños */
    }

    .bodyLeftHeader img {
        width: 100px;
        /* Tamaño de la imagen de perfil en dispositivos pequeños */
        height: 100px;
    }

    .bodyLeftBody h3 {
        font-size: 14px;
        /* Tamaño de fuente más pequeño en dispositivos pequeños */
    }

    .divInfo {
        /* width: auto; */
        display: none;
    }

    .bodyLeft {
        display: none;
    }


}


/* .bodyRight {
    width: 70%;
    height: 610px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 0px 0px 5px black;


} */



/* .bodyRightBody {
    margin-top: 10px;
    width: 100%;
    height: 560px;
    background-size: cover;


} */

/* .bodyRightFooter {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #e60000;
    align-items: center;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;


} */



/* .inputs {
    width: 80%;
    padding: 5px 5px;
    border: 0px;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(166, 161, 161);
    font-family: 'Poppins', sans-serif;
    transition: border-bottom .5s;
}

.inputs:hover,
.inputs:focus {
    border-bottom: 1px solid rgb(0, 0, 0);
} */


/* header of side right */
/* .bodyRightHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(229, 242, 242);
    background-color: rgba(4, 71, 165, 0.518)
} */

.button {
    cursor: pointer;
    margin-right: 20px;
    padding: 10px 15px;
    border: 1px solid rgb(23, 99, 203);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    /* background-color: rgb(229, 242, 242); */
}

.button:hover {
    background-color: #c2d6e3;
}





.active {
    background-color: transparent;
    /* box-shadow: 0px 0px 10px #c2d6e3; */
    border-bottom: 3px solid white;

}



.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.copyright {
    /* color: #eadbdbc2; */
    color: whitesmoke;
    text-align: center;
    font-size: 12px;
}

/* Estos estilos básicos proporcionarán un aspecto más profesional y limpio para tus botones. Asegúrate de ajustar los colores y otros estilos según la estética general de tu aplicación. */