.card_green {
    background: linear-gradient(to right, #7d7c92, #26476d);
    height: 100px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 10px;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card_green:hover {
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
}

.card_blue {
    background: linear-gradient(to right, rgb(108, 23, 23), rgba(255, 43, 50, 0.645)); 
    height: 100px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 10px;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card_blue:hover {
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
}

