/* styles.css */

/* Secciones */
.formcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78vh;
  background-image: url('../../../FONDOASSIST.jpg');
  background-size: cover;
  background-position: center;
  background-color: #8ce4e0;
  position: relative;
}

/* Capa superpuesta semitransparente */
.formcontainer::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.235);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  gap: 10px;
  max-width: 1000px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

/* Títulos */
.title {
  font-size: 24px;
  color: royalblue;
  font-weight: 700;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 10px;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: -10px;
  background-color: royalblue;
}

.title::before,
.title::after {
  animation: pulse 1s linear infinite;
}

.title::after {
  left: auto;
  right: 100px;
}

/* Mensaje de texto */
.message {
  color: rgba(88, 87, 87, 0.822);
  font-size: 12px;
}

/* Formulario */
.flex {
  display: flex;
  width: 100%;
  gap: 4px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px;
  color: rgb(92, 83, 83);
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 8px;
  transition: border-color 0.3s ease;
}

.form label .input+span {
  position: absolute;
  left: 20px;
  top: 5px;
  font-size: 0.8em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:focus,
.form label .input:valid {
  border-color: #007bff; /* Cambié el color del borde al hacer focus o cuando es válido */
}

.form label .input:focus+span,
.form label .input:valid+span {
  top: 26px;
  font-size: 0.6em;
  font-weight: 600;
  color: #007bff; /* Cambié el color del texto al hacer focus o cuando es válido */
}

/* Agregado estilo para el icono de ojo */
.eyeButton {
  display: flex;
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* Estilo para los mensajes de error */
.error {
  color: red;
  font-size: 0.7em;
  margin-top: 2px;
  margin-left: 15px;
}

/* Estilo para el botón de inicio de sesión */
.loginButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #0056b3;
}
