/* orderDetail.module.css */

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; /* Reducido el relleno */
}

.h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 2px #333;
    color: #d3dbdf;;
    font-size: 24px; /* Tamaño de fuente reducido */
    margin: 10px 0; /* Márgenes reducidos */
}

.contenedor1 {
    display: flex;
    justify-content: space-between;
    width: 90%; /* Ancho reducido */
}

.bodyLeft, .bodyRight {
    width: 45%; /* Reducido el ancho para dejar más espacio */
    padding: 5px; /* Reducido el relleno */
}

.bodyLeft {
    background-color: #e9e3e3;
    border-radius: 5px;
    margin-right: 5px; /* Márgenes reducidos */
    color: #000;
    font-family: Arial, sans-serif;
}

.bodyRight {
    background-color: #6397d7;
    border-radius: 5px;
    color: #333;
    font-family: Arial, sans-serif;
}

.bodyLeft > .div {
    background-color: #d3d3d3;
    border-radius: 5px;
    color: #ccc;
    padding: 8px; /* Reducido el relleno */
    margin-bottom: 10px; /* Márgenes reducidos */
    font-family: Arial, sans-serif;
}

.bodyLeft h2 {
    font-weight: bold;
    font-size: 18px; /* Tamaño de fuente reducido */
    margin-top: 8px; /* Márgenes reducidos */
    color: #2a4858;
}

.bodyLeft p {
    color: #333;
    margin: 3px 0; /* Márgenes reducidos */
    font-size: 14px; /* Tamaño de fuente reducido */
}

.label {
    font-weight: bold;
    margin: 8px 0; /* Márgenes reducidos */
    font-size: 16px; /* Tamaño de fuente reducido */
    color: #2a4858;
}

.p {
    color: #333;
    margin: 3px 0; /* Márgenes reducidos */
    font-size: 14px; /* Tamaño de fuente reducido */
}


.h2 {
    font-weight: bold;
    font-size: 18px; /* Tamaño de fuente reducido */
    margin-top: 8px; /* Márgenes reducidos */
    color: #2a4858;
}

.productList {
    list-style: none;
    padding: 0;
}

.productListItem {
    border: 1px solid #ccc;
    padding: 5px; /* Reducido el relleno */
    margin: 5px 0; /* Márgenes reducidos */
}

.reviewList {
    list-style: none;
    padding: 0;
}

.reviewListItem {
    border: 1px solid #ccc;
    padding: 5px; /* Reducido el relleno */
    margin: 5px 0; /* Márgenes reducidos */
}

.backLink {
    text-decoration: none;
    color: #2a4858;
    font-weight: bold;
    margin-top: 20px; /* Márgenes reducidos */
    font-size: large; /* Tamaño de fuente reducido */
    display: block;
}

.approveButton {
    background-color: #3CB371; /* Color verde para aprobar */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.rejectButton {
    background-color: #FF4500; /* Color naranja para desaprobar */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
/* Estilos personalizados para el cuadro de diálogo */
.custom-popup {
    width: 200px; /* Ancho personalizado */
    max-width: 80%; /* Ancho máximo personalizado */
    text-align: center; /* Centra el texto en el cuadro de diálogo */
    margin: 0 auto; /* Centra horizontalmente */
    padding: 10px; /* Espacio interior personalizado */
    border-radius: 10px; /* Bordes redondeados para un aspecto más delicado */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Sombra suave */
    background-color: #f5f5f5; /* Color de fondo */
  }
  

