/* orderDetail.module.css */

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #30324f96;
  margin: 10px 10px 10px;/* 20px de margen izquierdo y derecho, puedes ajustar este valor según tus preferencias */
  border-radius: 10px; /* Ajusta el valor según el radio de redondez deseado */
}

.header {
  display: flex;
  justify-content: space-between;
  width: 90%; /* Ocupa todo el ancho disponible */
  align-items: center;
}


.h1 {
  font-weight: bold;
  font-size: 20px;
  color: #cef8dc;
  margin-right: 270px;
}

.contenedor1 {
    display: flex;
    justify-content: space-between;
    width: 95%; /* Ancho reducido */
    height: 350px;
}



.bodyLeft {
    background-color: #e9e3e3;
    border-radius: 5px;
    margin-right: 5px; /* Márgenes reducidos */
    color: #000;
    font-family: Arial, sans-serif;
    width: 20%;
    height: 100%;
    
}

.bodyRight {
    background-color: #6397d7;
    border-radius: 5px;
    color: #333;
    font-family: Arial, sans-serif;
    width: 80%;
    overflow-y: scroll;
    font-size: xx-small;
}

/* Estilos para navegadores webkit (Chrome y Safari) */
.bodyRight::-webkit-scrollbar {
    width: 10px; /* Ancho del scrollbar */
    background-color: #f1f1f1; /* Color de fondo del scrollbar */
}


.bodyRight::-webkit-scrollbar-thumb {
    background-color: #4CAF50; /* Color del thumb (barra de desplazamiento) */
    border-radius: 5px; /* Bordes redondeados para el thumb */
}


.bodyRight::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de fondo de la pista del scrollbar */
}

/* Estilos para navegadores basados en Firefox */

.bodyRight {
    scrollbar-width: thin; /* Ancho del scrollbar */
}


.bodyRight::-webkit-scrollbar-thumb {
    background-color: #abb2ac; /* Color del thumb (barra de desplazamiento) */
    border-radius: 5px; /* Bordes redondeados para el thumb */
}


.bodyRight::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de fondo del scrollbar */
}


.bodyLeft > .div {
    background-color: #d3d3d3;
    border-radius: 5px;
    color: #ccc;
    padding: 10px; /* Reducido el relleno */
    height: auto;
    width: 95%;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 25px; /* Márgenes reducidos */
    font-family: Calibri, 'Trebuchet MS', sans-serif;
  
}

.bodyLeft h2 {
    font-weight: bold;
    font-size: 13px; /* Tamaño de fuente reducido */
    margin-top: 5px; /* Márgenes reducidos */
    color: #2a4858;
}

.keyword {
  font-weight: bold;
  font-size: 13px; /* Tamaño de fuente reducido */
  margin-top: 5px; /* Márgenes reducidos */
  color: #2a4858;
}

.bodyLeft p {
    color: #333;
    margin: 3px 0; /* Márgenes reducidos */
    font-size: 12px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.label {
    font-weight: bold;
    margin: 8px 0; /* Márgenes reducidos */
    font-size: 16px; /* Tamaño de fuente reducido */
    color: #2a4858;
}

.p {
  color: #333; /* Color de texto oscuro */
  font-size: 16px; /* Tamaño de fuente más grande */
  font-family: "Arial", sans-serif; /* Fuente elegante, o elige una fuente que te guste */
  line-height: 1.5; /* Espaciado entre líneas para una mejor legibilidad */
  text-align: justify; /* Alineación justificada para un aspecto más pulido */
  margin: 0; /* Elimina los márgenes predeterminados */
 
}


.h2 {
  font-weight: bold;
  font-size: 15px;
  color: #cef8dc;
  margin-right: 90px; /* Elimina los márgenes predeterminados del h2 */
}

.h2t {
  font-weight: bold;
  font-size: 20px;
  color: #cef8dc;
  margin-left: 10px; /* Elimina los márgenes predeterminados del h2 */
}




.productList {
  list-style: none;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  padding: 0;
  margin: 0;
  display: table;
  width: 100%;
  justify-content: center;
}


.productListItem {
  display: table-row;
}

.pList {
  display: table-cell;
  padding: 8px;
  border-bottom: 1px solid #ddd; /* Línea divisoria entre filas */
  font-size: 14px;
  font-weight: bold;
  color: #f1f1f1;
}


.reviewList {
    list-style: none;
    padding: 0;
}

/* CSS en orderDetail.module.css */
.reviewListItem {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  background-color: #b2b6e9;
  border-radius: 5px;
  font-size: 12px;
  width: 90%;
  display: flex; /* Cambia el display a flex */
  flex-direction: row; /* Cambia la dirección a fila */
  justify-content: space-between; 
  margin-left: 20px; 
}

.p {
  font-size: 10px;
  color: #9e9c9c;
  margin: 5px 0;
}


.reviewText {
  color: #5e5d5d;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bold;
  width: 80%;
  margin: 0 12px;
}


.toggler {
  display: flex;
  align-items: center;
  margin: 0 1px 1px 0px;
}

.toggler button {
  flex: 1; /* Ocupa todo el espacio disponible */
  color: #fff; /* Color del texto */
  border: none; /* Sin borde */
  cursor: pointer;
  padding: 8px;
  border-radius: 8%;
  transition: background-color 0.3s;
  margin: 0 5px; /* Espacio entre los botones */
}

.toggler button:hover {
  background-color: #96989b; /* Cambia de color al pasar el mouse */
}

.approveButton {
  background-color: #00cc00cf; /* Botón de Aprobar (verde) */
}

.disapproveButton {
  background-color: #cc0000c4; /* Botón de Desaprobar (rojo) */
}
  
@media screen and (max-width: 768px) {
  .toggler button {
    padding: 5px;
  }
}
   
@media (max-width: 768px) {
    .contenedor1 {
        flex-direction: column; /* Cambia a un diseño de columna en pantallas pequeñas */
        align-items: center; /* Centra los elementos en pantallas pequeñas */
    }

    .bodyLeft {
        width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
        margin-right: 0; /* Elimina el margen derecho en pantallas pequeñas */
        min-width: auto; /* Restaura el ancho mínimo en pantallas pequeñas */
    }

    .bodyRight {
        width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
        margin-right: 0; /* Elimina el margen derecho en pantallas pequeñas */
        min-width: auto; /* Restaura el ancho mínimo en pantallas pequeñas */
    }

}

@media screen and (max-width: 768px) {
  .h1 {
    font-size: 18px; /* Tamaño de fuente más grande para h1 en pantallas pequeñas */
    margin-right: 0; /* Elimina el margen derecho en h1 en pantallas pequeñas */
  }

  .h2 {
    margin-right: 0; /* Elimina el margen derecho en h2 en pantallas pequeñas */
  }

  .bodyLeft {
    width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
    margin-right: 0; /* Elimina el margen derecho en pantallas pequeñas */
  }

  .bodyRight {
    width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
    margin-right: 0; /* Elimina el margen derecho en pantallas pequeñas */
    min-width: auto; /* Restaura el ancho mínimo en pantallas pequeñas */
  }

  .productList {
    display: flex; /* Cambia a un diseño de columna en pantallas pequeñas */
    flex-direction: column;
    align-items: center; /* Centra los elementos en pantallas pequeñas */
  }

  .productListItem {
    display: flex; /* Cambia a un diseño de columna en pantallas pequeñas */
    flex-direction: column;
  }

  .pList {
    text-align: center; /* Centra el texto en pantallas pequeñas */
    margin: 5px 0; /* Ajusta los márgenes en pantallas pequeñas */
  }

  .reviewList {
    display: flex; /* Cambia a un diseño de columna en pantallas pequeñas */
    flex-direction: column;
    align-items: center; /* Centra los elementos en pantallas pequeñas */
  }

  .reviewListItem {
    display: flex; /* Cambia a un diseño de columna en pantallas pequeñas */
    flex-direction: column;
    text-align: center; /* Centra el texto en pantallas pequeñas */
  }

  .p {
    font-size: 12px; /* Ajusta el tamaño de fuente en pantallas pequeñas */
    text-align: center; /* Centra el texto en pantallas pequeñas */
  }

  .reviewText {
    font-size: 14px; /* Ajusta el tamaño de fuente en pantallas pequeñas */
    text-align: center; /* Centra el texto en pantallas pequeñas */
  }
}



