.cardContainer {
    width: 100%;
    height: 80px;
    display: flex;
    border: 1px solid black;
    margin-bottom: 10px;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.card {

    display: flex;
    height: 80px;
    width: 95%;
}

.divCode1 {
    width: 100px;
    align-items: center;
    display: flex;
    justify-content: center;

}

.divCode {
    height: auto;
    width: 400px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    /* background-color: red; */

}

.divCodeType {
    height: auto;
    width: 150px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    /* background-color: rgb(41, 132, 244); */
}

.divCodeStock {
    height: auto;
    width: 150px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.botones {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: aliceblue; */
}

.cartButton {
    /* background-color: blue; */
    width: 100%;
    height: 50%;
    /* font-size: x-large; */
    display: flex;
    justify-content: center;
    align-items: center;


}

.favButton {
    /* background-color: red; */
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}