.cardContainer {
    margin-top: 10px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;

}


.card {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    width: 32%;
    height: auto;
    width: 100%;
    border-bottom: 1px solid black;
    margin-left: 20px;
}



.divCode {
    height: auto;
    width: 400px;
}
.code {
    height: auto;
    width: 10px;
    display: grid;
    grid-template-columns:  repeat(1, 1fr);
    column-gap: 2rem;
    margin-left: 19px;
    justify-items: center;

}

.divCode1 {
    height: auto;
    width: 100px;
    /* background-color: rgb(23, 99, 203); */
    margin-left: -1rem;
    align-items: center;
    display: grid;
    grid-template-columns:  repeat(2,1fr);
    column-gap: 2rem;
}

.divBotones {
    background-color: rgb(25, 2, 2);
    position: relative;
    margin-right: 120px;

}


.buttoContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    margin: auto 2.5rem;

}