.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140%; /* Ajustado para un ancho relativo */
  padding: 20px; 

}

.cont button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 12px;
}

.profileContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #c9d3cf;
  position: relative;
}

.profileContainer::before {
  content: '';
  position: absolute;
  top: -20px; /* Arriba */
  right: -20px; /* Derecha */
  bottom: -20px; /* Abajo */
  left: -20px; /* Izquierda */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Color y difuminado de la luz */
  border-radius: 8px; /* Ajusta según sea necesario */
}


.headerContainer {
  text-align: center;
  margin-bottom: 20px;
}

.header {
  color: #333;
}

.body {
  display: flex;
  justify-content: space-between;
}

.bodyLeft {
  width: 30%;
}

.profileImageContainer {
  text-align: center;
}

.profileImage {
  width: 200px;
  height: 200px;
  border-radius: 30%;
  object-fit: cover;
  border: 2px solid rgb(8, 1, 1)1e1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-bottom: 20px;
  image-rendering: optimizeQuality; /* Propiedad para mejorar la calidad de la imagen en algunos navegadores */
}


.bodyRight {
  width: 50%;
}

.datosContainer {
  text-align: left;
}

.datos {
  color: #444;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  font-size: 20px;
  margin-bottom: 10px;
}

.p.datos strong {
  font-weight: bold;
}

.closeButton {
  position: absolute;
  top: 85px; 
  right: 390px;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
}






