/* Profile3.module.css */

.profile {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 20px;
  }
  
  .bodyLeft {
    margin-left: 10px;
    padding: 20px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
    max-width: 450px;
    width: 400px;
    height: 540px;
  }
  
  .bodyLeftHeader {
    padding: 20px;
  }
  
  .bodyLeftHeader h2 {
    margin: 0 10px 20px 0;
    font-size: 24px;
    color: #333;
  }
  
  .bodyLeftHeader h3 {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
  }
  
  .bodyLeftHeader button {
    padding: 8px 16px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    margin-top: 50px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .bodyLeftHeader button:hover {
    background-color: #c82333;

  }
  
  .body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 900px;
  }
  
  .bodyRight { 
    width: 110%;
    height: 100%;
    padding: 50px;
  }

.profileImage {
    width: 100px; /* Ancho deseado */
    height: 100px; /* Alto deseado */
    border-radius: 50%; /* Hace que la imagen sea redonda */
    object-fit: cover; /* Ajusta la imagen dentro del contenedor */
    border: 2px solid #fff; /* Borde blanco con 2px de grosor */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 50px;
  }
  
  .subtitulo {
    color: #444;
    text-align: center;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.datos {
  color: #444;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  font-size: 10px;
}

.p.datos strong {
  font-weight: bold;
}

  