.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;


}

.card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 100px;
    border: 1px solid black;
    margin: 10px;
    padding: 20px;
    background-color: #cce3de;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
    border-radius: 15px;

}

.buttoContainer {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
    width: 150px;
    margin-right: 20px;
    /* background-color: rgba(0, 26, 255, 0.501); */
}

.decrece {
    margin-top: 12px;
    background-color: #41a0b3;
    color: rgb(247, 245, 245);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 5px;

}

.crece {
    margin-top: 12px;
    background-color: #41a0b3;
    color: rgb(241, 237, 237);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.decrece:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.577);
}

.crece:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.577);
    border: 1px solid black;

}

.inputsNum {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}


.input {
    width: 40px;
    margin: 0 15px;
    text-align: center;
    margin-top: 12px;
}

.deleteCart {
    background-color: rgba(210, 24, 24, 0.801);
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.deleteCart:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.577);
    border: 1px solid rgb(241, 107, 107);
}




.divCode1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 110px;
    margin-right: 20px;
    /* background-color: red; */

}

.divCode2 {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
    width: 200px;
    margin-right: 20px;
    /* background-color: rgb(0, 255, 68); */

}

.divCode3 {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
    width: 300px;
    margin-right: 20px;
    /* background-color: rgba(0, 26, 255, 0.501); */

}

.divCode4 {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
    width: 80px;
    margin-right: 20px;
    /* background-color: rgba(0, 26, 255, 0.501); */

}