.slideImage {
  width: 50%;
  height: 50%;
  margin-top: 20px;
  margin-left: 320px;
  object-fit: cover;
  border-radius: 15px; /* Puedes ajustar esto si quieres mantener el radio de borde */
  filter: brightness(90%);
  justify-content: center;
}

/* Estilos para pantallas más grandes */
@media (min-width: 768px) {
  .slideImage {
    width: 50%; /* Puedes ajustar el porcentaje según tus necesidades */
    height: 60%; /* Puedes ajustar el porcentaje según tus necesidades */
    margin-top: 20px;
    margin-left: 25%; /* Centrado horizontal */
  }
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 767px) {
  .slideImage {
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 100%; /* Ocupa toda la altura disponible */
    margin-top: 20px;
    margin-left: 0; /* Reinicia el margen izquierdo */
  }
}






  
  