/* Estilos para el Footer */
.footerContainer {
    max-width: 120rem;
    height: auto; /* Cambiar la altura según sea necesario */
    background-color: rgba(226, 234, 241, 0.674);
    display: flex;
    flex-direction: row; 
    justify-content: flex-start; /* Alinear los elementos a la izquierda */
    align-items: center; /* Centrar verticalmente los elementos */
    padding: 1rem; /* Ajusta el espacio interno según tus preferencias */
  }
  
  .logo {
    max-width: 13rem;
  }
  
  .logo:hover {
    text-shadow: 1px 1px 2px pink;
  }
  
  .links {
    color: rgba(65, 62, 62, 0.974);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-decoration: none;
    padding: 1rem 1.5rem;
    margin-left: 50%;
}
  
  .links:hover {
    text-shadow: 1px 1px 2px gray;
  }
  
 /* Estilo para el texto de derechos de autor */
.copyright {
    text-align: center;
    color: #777; /* Color de texto gris */
    margin-top: 5rem; /* Ajusta el espacio superior según tus preferencias */
}
  
  
  