.form {
    /* background-color: red; */
    width: 100%;
    height: 460px;
    display: flex;
    flex-direction: column;
    /* background-color: rgba(0, 0, 0, 0.067); */
    background-color: #e3d5ca;
    align-items: center;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.807); */
    border-radius: 15px;


}

.header {
    width: 100%;
    height: 50px;
    background-color: #00b4d8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;

}

.body {
    width: 80%;
    height: 360px;
    /* background-color: rgb(214, 201, 201); */
    margin-top: 20px;
    box-shadow: 0px 0px 10px black;
}

.footer {
    width: 80%;
    height: 50px;
    /* background-color: rgb(214, 201, 201); */
    /* background-color: #00b4d8; */
    display: flex;
    justify-content: end;
    /* border-radius: 1rem; */
}









.formContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(245, 245, 245, 0.115);
    width: 100%;
    height: 360px;
    /* background-color: red; */
}

.editHeaher {
    width: 30%;
    height: 360px;
    /* background-color: #00b4d8; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: last baseline;
    background-image: url('../../../assets//image/buo.png');
    background-size: cover;
    background-repeat: round;
    border-radius: 50%;
}

.titleEdit {
    color: blue;
    background-color: yellow;
}









.editBody {
    width: 60%;
    height: 350px;
    /* background-color: #d0e0e3; */
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    box-shadow: 1px 2px 5px black;
    border-radius: 15px;
}


.form1 {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: space-evenly;
}

.divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rebeccapurple; */
}

.inputs {
    width: 80%;
    padding: 5px 5px;
    border: 0px;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(166, 161, 161);
    font-family: 'Poppins', sans-serif;
    transition: border-bottom .5s;
    margin-left: 4rem;
    color: white;
    font-size: small;
}

.inputs::placeholder {
    color: white;
}

.inputs:hover,
.inputs:focus {
    border-bottom: 1px solid rgb(0, 0, 0);
}

.inputs_file {
    width: 80%;
    padding: 5px 5px;
    border: 0px;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(166, 161, 161);
    font-family: 'Poppins', sans-serif;
    transition: border-bottom .5s;
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.divSubmit {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    /* background-color: red; */
}

.btnVerde {
    background-color: #4CAF50;
    color: white;
    width: 25rem;
    border: none;
}

.btnVerde:hover {
    background-color: #2fc534;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.585);
}

.error {
    color: rgb(255, 0, 0);
    text-align: center;
    margin: 0px;
    font-size: 11px;
    width: 100%;
    height: 2.5vh;
    margin-left: 0px;
    font-family: 'Poppins', sans-serif;
}

/* css del perfil */

.bodyProfile {
    width: 100%;
    height: 100%;
    background-color: #e3d5ca;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bodyContainer {
    width: 100%;
    height: 86%;
    /* background-color: beige; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}

.imageProfile {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    /* background-color: #e3d5ca; */

}

.image {
    max-width: 300px;
    /* Ajusta la imagen al ancho del contenedor sin distorsionar la relación de aspecto */
    max-height: 300px;
    /* Ajusta la imagen al alto del contenedor sin distorsionar la relación de aspecto */
    border-radius: 50%;
    /* Un valor del 50% produce un círculo perfecto */
    overflow: hidden;

}

/* .icono {
} */

/* Añade estilos adicionales según sea necesario */




/* --------info---------- */
.infoProfile {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border: 1px solid black;
}

.divInfo {
    margin-bottom: 25px;
    margin-left: 7em;
    border-bottom: 1px solid black;

}

.divInfo label {
    font-weight: bold;
    margin-right: 10px;
}

.divInfo small {
    font-size: 14px;
    color: #555;
    /* Puedes ajustar el color según tus preferencias */
}