.form {
    /* background-color: red; */
    width: 100%;
    height: 460px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.067);
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.807);

}

.header {
    width: 80%;
    height: 50px;
    background-color: rgb(179, 163, 163);
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;

}

.body {
    width: 80%;
    height: 360px;
    background-color: rgb(214, 201, 201);
}

.footer {
    width: 80%;
    height: 50px;
    background-color: rgb(214, 201, 201);

    display: flex;
    justify-content: end;
}









.formContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.115);
    width: 100%;
    height: 360px;

}

.form1 {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: space-evenly;
}

.divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rebeccapurple; */
}

.inputs {
    width: 80%;
    padding: 5px 5px;
    border: 0px;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(166, 161, 161);
    font-family: 'Poppins', sans-serif;
    transition: border-bottom .5s;
    margin-left: 4rem;
    color: white;
    font-size: small;
}

.inputs::placeholder {
    color: white;
}

.inputs:hover,
.inputs:focus {
    border-bottom: 1px solid rgb(0, 0, 0);
}

.inputs_file {
    width: 80%;
    padding: 5px 5px;
    border: 0px;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(166, 161, 161);
    font-family: 'Poppins', sans-serif;
    transition: border-bottom .5s;
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.divSubmit {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    /* background-color: red; */
}

.btnVerde {
    background-color: #4CAF50;
    color: white;
    width: 25rem;
    border: none;
}

.btnVerde:hover {
    background-color: #2fc534;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.585);
}

.error {
    color: rgb(255, 0, 0);
    text-align: center;
    margin: 0px;
    font-size: 11px;
    width: 100%;
    height: 2.5vh;
    margin-left: 0px;
    font-family: 'Poppins', sans-serif;
}