
.search {
    display: flex;
    align-items: center; 
    height: 40px;
}

.checks {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    margin-top: 8px;
}

.checks label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 13px;
    cursor: pointer;
    color:beige
}

input[type="checkbox"] {
    margin-right: 8px;
    cursor: pointer;
    
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    font-family: Verdana, sans-serif;
    flex-grow: 1;
    outline: none;
}


input[type="text"]::placeholder {
    color: #999;
}


.search-btn {
    padding: 12px;
    background-color: #0576c1; 
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}


.search-btn:hover {
    background-color: #2980b9; 
}
