.pagination {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.paginationItem {
    margin-right: 10px;
}

.buttonAlert {
    background-color: #ff8000;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    padding: 7px 10px;
    border-color: aliceblue;
}

.mesageAlert {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}

.paginationButton {
    background-color: #1c870cd6;
    color: white;
    font-family: Arial;
    border-radius: 100px;
    font-size: 12px;
    padding: 5px 12px;
    cursor: pointer;
    border: none;
}


.activeButton {
    background-color: #0db654;
    box-shadow: 0 0 10px 5px rgb(199, 188, 156);
}

/* Otros estilos */

.disabledButton {
    opacity: 0.5;
    pointer-events: none;

}