.Fav {
    width: 100%;
    height: 705px;
    background-color: #f5ebe0;
}

.headerFav {
    display: flex;
    flex-direction: column;
}

.SubNav {
    width: 100%;
    height: 4.5rem;
    background-color: rgb(23, 99, 203);
    display: flex;
    margin-bottom: 5px;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}


.bodyFav {
    width: 100%;
    height: 465px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.FavContainer {
    width: 80%;
    height: 454px;
    background-color: rgba(0, 0, 0, 0.067);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.emptyFav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
    background-color: #f3d8d8;
    border: 1px solid #e1b6b6;
    border-radius: 5px;
    margin-top: 9rem;
}

.emptyFav p {
    font-size: 1.2rem;
    color: #555;
}


.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 20rem;
    height: 2.7rem;
    font-size: xx-large;
    /* background-color: whitesmoke; */
    display: flex;
    justify-content: center;
    color: white;
}

.back_cart {
    width: auto;
    height: auto;
    border-radius: 50%;
    /* background-color: red; */
}

.back_cart:hover {
    box-shadow: 0px 0px 10px whitesmoke;
}